﻿@model IEnumerable<Kalinga_management_system.Models.LeadModel>

@{
    ViewBag.Title = "Display Lead Details";
}

<h2>Displaying All Leads</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LeadId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeadName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeadContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LeadId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeadName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeadContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.ActionLink("Update User", "UpdateLeadDetail", new { id = item.LeadId })
            </td>

        </tr>
    }

</table>