﻿@model IEnumerable<Kalinga_management_system.Models.MindModel>

@{
    ViewBag.Title = "Display Minds Details";
}

<h2>Displaying All Minds</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MindId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MindName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MindContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lead.LeadId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MindId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MindName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MindContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lead.LeadId)
            </td>
            <td>
                @Html.ActionLink("Update User", "UpdateMindDetail", new { id = item.MindId })
            </td>
        </tr>
    }

</table>