﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kalinga</h1>
    <p class="lead">
        Mindtree Kalinga is our first residential campus spread across 20 acres of the most beautiful
        landscape in Bhubaneswar, India. The campus layout and functionality is inspired by natural landscape, local flora and fauna,
        community art and ancient Odisha architecture to provide a global workplace for the Mindtree
        Minds of the future.
    </p>
    <p><a href="https://www.mindtree.com/" class="btn btn-primary btn-lg">Explore More &raquo;</a></p>
    <p><a href="https://www.mindtree.com/sites/default/files/2019-09/mindtree-kalinga-campus-advisory-29-jun-19.pdf" class="btn btn-primary btn-lg">Read more about Kalinga &raquo;</a></p>
</div>

<div class="row">
    @*<div class="col-md-4">
            <h2>Add Minds and Leads</h2>
            <p>
                Through this portal you can add information about new minds and Leads, Get there details and put then through here
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>*@
    <div class="col-md-5">
        <h2>Add Mind and Leads</h2>
        <p>
            Through this portal you can add information about new minds and Leads, Get there details and put then through here to
            database of kalinga,
        </p>
        <p>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Add Details</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Add Minds and their Detail", "GetAndAddMind", "AddUser")</li>
                            <li>@Html.ActionLink("Add Leads and their Detail", "GetAndAddLead", "AddUser")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </p>
    </div>
    @*<div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>*@
    <div class="col-md-5">
        <h2>View Mind and Leads</h2>
        <p>
            Using this portal you can View All the minds and leads available in Database Also You can update their Detail
        </p>
        <p>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Add Details</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Show All Minds and their Detail with update access", "MindModelDetail", "ShowAndUpdate")</li>
                            <li>@Html.ActionLink("Show All Leads and their Detail with update access", "GetLeadModelDetail", "ShowAndUpdate")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </p>
    </div>
    @*<div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>